%h1 New blog
%br/
%form{ :action => "/new", :method => "post", :style=>"margin-top: 6px"}
	%input{:type=>"hidden", :name=>"authenticity_token", :value=>form_authenticity_token.to_s}
	%input{:type => "text", :name => "blog_name", :placeholder=>"Blog name", :style=>"width: 96% !important"}
	%br/
	.input-append
		%input{:type => "text", :name => "blog_url", :placeholder=>"Blog URL", :class=>"span2"}
		%span{:class=>"add-on"}= ".#{request.domain}"
	%p{:class=>"help-block", :style=>"font-size:15px"}= "This will be your blog's URL, for example yourblog.#{request.domain}"
	%br/
	%input{:type => "submit", :value => "Send", :class => "btn btn-primary"}
		
- unless session[:error].nil?
	%div{:class=>"alert alert-error", :style=>"font-size:13px; font-weight:normal;"}
		%strong Please correct the following errors
		%br
		- session[:error].each do |value|
			- unless value.nil?
				%li= "#{value}"
				- session[:error]=nil