.newPage
	%h1{:style=>"margin-bottom:15px"}= "New Page"
	- unless session[:error].nil?
		%div{:class=>"alert alert-error", :style=>"font-size:13px; font-weight:normal;"}
			%strong Please correct the following errors
			%br
			- session[:error].each do |value|
				- unless value.nil?
					%li= "#{value}"
					- session[:error]=nil
	.row
		.span5{:style=>"margin-right:50px"}
			%form{ :action => "/page", :method => "post"}
				%input{:type=>"hidden", :name=>"authenticity_token", :value=>form_authenticity_token.to_s}
				%input{:type => "text", :name => "pageTitle", :placeholder=>"Page title", :style=>"width:500px;", :value=>"#{params[:pageTitle]}"}
	
				%br/
				%textarea{:style=>"width:500px;max-width:500px;height:300px", :id=>"markdownEditor", :name=>"pageContent"}#{params[:pageContent]}
				%br/
				%br/
				%label{:class=>"checkbox"}
					%input{:type=>"checkbox", :name=>"tweetBox"}
					Tweet page
				%br/
				%input{:type => "submit", :value => "Send", :class => "btn btn-primary"}
			%span{:class=>"label label-info"}= "You can use Markdown here."
		.span5
			%div{:class=>"preview"}
				%p Page Preview